DB_HOST_DEV=localhost
DB_PORT_DEV=3306
DB_NAME_DEV=devdb
DB_USER_DEV=user_dev
DB_PASSWORD_DEV=password_dev
CLIENT_URL_DEV=http://localhost:3000

DB_HOST_STAGING=staging.example.com
DB_PORT_STAGING=3306
DB_NAME_STAGING=stagingdb
DB_USER_STAGING=user_staging
DB_PASSWORD_STAGING=password_staging
CLIENT_URL_STAGING=https://staging.myapp.com

API_URL_DEV=http://localhost:8080
API_URL_PRODUCTION=api_prod_url

DB_HOST_PRODUCTION=prod.example.com
DB_PORT_PRODUCTION=3306
DB_NAME_PRODUCTION=proddb
DB_USER_PRODUCTION=user_prod
DB_PASSWORD_PRODUCTION=password_prod
CLIENT_URL_PRODUCTION=https://myapp.com

JWT_SECRET_KEY=your_secret_key
JWT_EXP_TIME=expiration_time